@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #362447;
}

::-webkit-scrollbar-thumb {
  background: #ad94c7;
  border-radius: 50px;
}
